.featured-videos {
  padding-top: 150px;
  padding-bottom: 130px;

  &__container {
  }

  &__descr {
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
    font-size: 16px;
    line-height: 24px;
    color: #788692;

    margin-top: 26px;
  }

  .slider-container {
    overflow: hidden;
    margin-top: 50px;

    padding: 100px 0;

    .swiper-slide {
      // background-color: #E3E3E3;
      border-radius: 8px;
      min-height: 550px;
      width: 890px;
      transition: transform 0.3s;
      font-size: 0;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        height: 500px;
      }
    }

    .slide-title {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
      color: #ffffff;
      position: absolute;
      left: 4%;
      bottom: 12%;
    }

    .slide-play {
      position: absolute;
      left: 48px;
      top: 40px;
      width: 112px;
      height: 112px;
      background-image: url("../img/slide-play.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    .swiper-slide video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-slide-active {
      transform: scaleX(1.16) scaleY(1.2);
      transition: transform 0.3s;
    }
  }
}
