.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &__container {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.social {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .3s;

    &:hover {
      transition: opacity .3s;
      opacity: .8;
    }


    &--fb {
      background-image: url("../img/facebook.svg");
      width: 11px;
      height: 20px;
    }

    &--tw {
      background-image: url("../img/twitter.svg");
      width: 20px;
      height: 16px;
    }
  }
}

.logo {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1;
  font-weight: 800;
  text-transform: uppercase;

  color: var(--color-white);
}


.burger {
  width: 48px;
  height: 10px;
  position: relative;
  transition: all .3s;


  &:hover {
    .burger__line {
      background-color: var(--color-btn);
      box-shadow: 0 8px 0 0 var(--color-btn);
      transition: all .3s;
    }
  }

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    height: 2px;
    box-shadow: 0 8px 0 0 var(--color-white);
  }
}


.menu {
  position: fixed;
  left: -150vw;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--color-neptune);
  transition: left .3s;


  &--visible {
    left: 0;
    transition: left .3s;
  }

  &__nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 30px 0;
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;

  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    transition: color .3s;
    color: var(--color-white);

    &:hover {
      transition: color .3s;
      color: var(--color-dark);
    }
  }

  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 9%;
    top: 8%;


    &:hover {
      .menu__close-line {
        background-color: var(--color-dark);
        transition: background-color .3s;
      }
    }


    &-line {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-white);
      transition: background-color .3s;


      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
