.newsletter {
  padding-top: 50px;
  padding-bottom: 150px;

  &-content {
    // overflow: hidden;
    border-radius: 8px;
    background-image: url("../img/news-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 133px;
    padding-top: 338px;
    padding-bottom: 178px;
    position: relative;
  }

  &__text {
    max-width: 370px;
  }

  &__title {
    color: var(--color-white);
    margin-bottom: 40px;
  }

  &__descr {
    font-size: 16px;
    line-height: 21px;
    color: var(--color-white);
  }

  &__form {
    position: absolute;
    bottom: -96px;
    right: 133px;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  width: 512px;
  height: 416px;
  padding-top: 53px;

  &__field {
    border: none;
    width: calc(100% - (72px * 2));
    border-bottom: 1px solid rgba(28, 46, 61, 0.3);
    padding: 25px 0;

    &::placeholder {
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-dark);
    }
  }

  &__btn {
    margin-top: 60px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 2.18182px;
    color: var(--color-white);
    width: 100%;
    padding: 41px 199px;
    background-color: var(--color-neptune);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
